.error-404 {
	@include flex_center(column);

	@media(min-width: 992px) {
		img {
			max-width: 990px;
			height: auto;
		}
	}

	.error-info {
		@include flex_center(column);
		gap: 10px;
		text-align: center;
		.error-title {
			font-size: 50px;
			margin-bottom: 10px;
			line-height: 1.2;
		}
		p {
			font-size: 24px;
			line-height: 1.2;
			color: $title_color;
		}
	}
}
