/* Elementor global CSS
===============================*/
.elementor-icon.elementor-social-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

// Magnific popup
.mfp-iframe-holder {
	.mfp-iframe {
		border-radius: 20px;
	}
	.mfp-close {
		top: -44px;
		right: 0;
		text-align: center;
		width: 44px;
		opacity: 1;
		padding-right: 0;
		background-color: $tertiary_color;
	}
}
// Faq Style
.faq-style-1 {
	.e-n-accordion {
		.e-n-accordion-item {
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
			.e-n-accordion-item-title {
				justify-content: space-between;
				padding: 20px 30px 17px;
				border: 1px solid #E4E4E4;
			}
			&.e-n-accordion-item[open] {
				.e-n-accordion-item-title {
					border-bottom: 0 !important;
					border-radius: 10px 10px 0 0 !important;
				}
			}
		}
	}
}


.faq-style-2 {
	.e-n-accordion {
		.e-n-accordion-item {
			.e-n-accordion-item-title {
				justify-content: space-between;
				padding: 15px 22px 15px;
				border: 0;
				border-radius: 8px;
				.e-n-accordion-item-title-icon {
					height: 30px;
					width: 30px;
					background-color: #D5ED9E;
					border-radius: 100%;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					i {
						color: $primary_color;
					}
				}
			}
			&.e-n-accordion-item[open] {
				.e-n-accordion-item-title {
					border-bottom: 0 !important;
					border-radius: 8px 8px 0 0 !important;
					.e-n-accordion-item-title-icon {
						background-color: $secondary_color;
						i {
							color: $white_color;
						}
					}
				}
			}
		}
	}
}
.faq-style-3 {
	.e-n-accordion {
		.e-n-accordion-item {
			.e-n-accordion-item-title {
				justify-content: space-between;
				transition: all .3s ease-in-out;
			}
		}
		.e-n-accordion-item {
			&:last-child {
				.e-n-accordion-item-title {
					border-bottom: 0 !important;
					padding-bottom: 0;
				}
			}
		}
	}
}


.rt-about-wrap-1 {
	.rt-image-layout-1 {
		.rt-image {
			&:after {
				content: "";
				height: 468px;
				width: 446px;
				background-color: $secondary_color;
				position: absolute;
				bottom: 0;
				right: 64px;
				z-index: -1;
				border-radius: 0 20px 20px 0;
				@media(max-width: 1199px){
					display: none;
				}
			}
		}
	}
}
.rt-faq-wrap-1 {
	.elementor-widget-rt-image{
		@media(max-width: 1440px){
			display: none;
		}
	}
}

.rt-gardener-plant-wrap {
	animation: slide 10s linear infinite;
}

.rt-icon-box {
	.elementor-icon-box-wrapper {
		.elementor-icon-box-icon {
			.elementor-icon {
				overflow: hidden;
				transition: all .5s;
			}
		}
		&:hover {
			.elementor-icon-box-icon {
				.elementor-icon {
					background-color: $secondary_color;
					fill: $white_color;
					color: $white_color;
					i {
						animation: zoomIn .5s ease;
					}
				}
			}
		}
	}
}




// hero overlay section
@media(min-width: 1800px){
	body .hero-margin-pleft {
		margin-left: 12%;
	}
	body .hero-margin-mleft {
		margin-left: -12%;
	}
}
@media(min-width: 1600px){
	body .hero9-margin-left {
		margin-left: calc((100% - 1364px) / 2 + 12px);
	}
}
// home 4 hero social fix
body .home4-hero-social {
	position: absolute;
	left: -60px;
	bottom: 400px;
	z-index: 2;
	@media(min-width: 1024px) and (max-width: 1439px) {
		left: auto;
		right: 0;
	}
	.rt-social-icon {
		transform: rotate(-90deg);
		left: 0;
		position: relative;
		gap: 10px;
		@media(min-width: 1440px) and (max-width: 1660px) {
			left: -90px;
		}
	}
}
// home 7 hero social fix
body .home7-hero-social {
	position: absolute;
	left: 0;
	bottom: 450px;
	z-index: 2;
	@media(min-width: 1024px) and (max-width: 1439px) {
		left: auto;
		right: 0;
	}
	.rt-social-icon {
		transform: rotate(-90deg);
		left: 0;
		position: relative;
		gap: 10px;
		@media(min-width: 1440px) and (max-width: 1660px) {
			left: -90px;
		}
	}
}
// header 10 layout fix
.page-id-9694 {
	.scrolling {
		.header-top-space > .e-con-inner {
			padding-top: 0 !important;
		}
	}
}
.page-id-8441 {
	.scrolling {
		.header-top-space > .e-con-inner {
			padding-top: 0 !important;
		}
	}
}

.rt-margin-left {
	@media(min-width: 1440px) {
		margin-left: calc((100% - 1296px) / 2);
	}
}
