// Hero Slider
.rt-swiper-hero-slider {
	overflow: hidden;
}
.rt-hero-slider {
	.content-wrap {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}
	.slider-content {
		position:  relative;
		background-color: $white_color;
		padding: 40px;
		border-radius: 20px;
		@media(min-width: 768px) {
			max-width: 570px;
			z-index: 9;
			background-image: url(../images/banner-content-bg.svg);
			background-repeat: no-repeat;
			padding: 60px 80px 90px;
			background-color: transparent;
			border-radius: unset;
		}
	}
	.single-slider {
		background-size: cover;
		background-position: top center;
		min-height: 775px;
		display: flex;
		align-items: center;
	}
	.sub-title {
		position: relative;
		display: inline-block;
		color: $secondary_color;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 7px;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		line-height: 1.4;
		z-index: 1;
	}
	.slider-title {
		 font-size: 60px;
		 color: $white_color;
		 margin-bottom: 20px;
		 line-height: 1.1;
	}
	.slider-text {
		color: $white_color;
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 30px;
	}
	.animation {
		.single-slide {
			.sub-title {
				transform: translateY(70px);
				transition: opacity .55s cubic-bezier(.23,1,.32,1), transform .55s cubic-bezier(.23,1,.32,1);
				opacity: 0;
				visibility: hidden;
			}
			.slider-title {
				transform: translateY(70px);
				transition: opacity .55s cubic-bezier(.23,1,.32,1), transform .55s cubic-bezier(.23,1,.32,1);
				opacity: 0;
				visibility: hidden;
			}
			.slider-text {
				transform: translateY(70px);
				transition: opacity .55s cubic-bezier(.23,1,.32,1), transform .55s cubic-bezier(.23,1,.32,1);
				opacity: 0;
				visibility: hidden;
			}
			.slider-btn-area {
				transform: translateY(70px);
				transition: opacity .55s cubic-bezier(.23,1,.32,1), transform .55s cubic-bezier(.23,1,.32,1);
				opacity: 0;
				visibility: hidden;
			}
			&.swiper-slide-active {
				.sub-title {
					transform: translateY(0);
					transition-delay: 0.5s;
					opacity: 1;
					visibility: visible;
				}
				.slider-title {
					transform: translateY(0);
					transition-delay: 1s;
					opacity: 1;
					visibility: visible;
				}
				.slider-text {
					transform: translateY(0);
					transition-delay: 1.5s;
					opacity: 1;
					visibility: visible;
				}
				.slider-btn-area {
					transform: translateX(0);
					transition-delay: 2s;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	@media(max-width: 991px ) {
		.slider-title br,
		.slider-text br {
			display: none;
		}
	}
	.swiper-pagination-wrap {
		position: relative;
		&:before {
			content: "";
			background-image: url(../images/pagination.svg);
			background-repeat: no-repeat;
			position: absolute;
			right: 0;
			bottom: -9px;
			height: 60px;
			width: 100%;
			background-position: bottom right;
			z-index: 1;
		}
	}
	.swiper-pagination {
		position: absolute;
		margin-top: 0;
		justify-content: right;
		column-gap: 7px;
		bottom: 10px !important;
		right: 19%;
		left: auto !important;
		font-size: 18px;
		font-weight: 600;
		@media(min-width: 2400px ) {
			right: 16%;
		}
		.swiper-pagination-bullet {
			position: relative;
			width: auto;
			height: 100%;
			text-align: left;
			color: #B7B7B7;
			background: transparent !important;
			&.swiper-pagination-bullet-active {
				width: 60px;
				color: $title_color;
				&:after {
					position: absolute;
					content: "";
					right: -7px;
					top: 13px;
					width: 40px;
					height: 2px;
					border-radius: 50px;
					background-color: $title_color;
				}
			}
			&:last-child {
				&.swiper-pagination-bullet-active {
					text-align: right;
					&:after {
						display: none;
					}
					&:before {
						position: absolute;
						content: "";
						left: -10px;
						top: 13px;
						right: auto;
						width: 40px;
						height: 2px;
						border-radius: 50px;
						background-color: $title_color;
					}
				}
			}
		}
	}
}

.home-5-slider {
	.content-wrap {
		display: block;
	}
	.single-slider {
		position: relative;
		&:before {
			content: "";
			height: 100%;
			width: 100%;
			background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 21.1%, rgba(0, 0, 0, 0.05) 99.77%);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
	.animation {
		.single-slide {
			display: block;
			overflow: hidden;
			perspective: 800px;
			.sub-title {
				transform: translate3d(60px, 0px, 0px) scale(0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(-10deg, 0deg);
				opacity: 0;
			}
			.slider-title {
				transform: translate3d(60px, 0px, 0px) scale(0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(-10deg, 0deg);
				opacity: 0;
			}
			.slider-text {
				transform: translate3d(60px, 0px, 0px) scale(0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(-10deg, 0deg);
				opacity: 0;
			}
			.slider-btn-area {
				transform: translate3d(60px, 0px, 0px) scale(0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(-10deg, 0deg);
				opacity: 0;
			}
			&.swiper-slide-active {
				.sub-title {
					translate: none;
					rotate: none;
					scale: none;
					opacity: 1;
					transform: translate(0, 0);
					visibility: visible;
					transition-delay: .5s;
				}
				.slider-title {
					translate: none;
					rotate: none;
					scale: none;
					opacity: 1;
					transform: translate(0, 0);
					visibility: visible;
					transition-delay: .7s;
				}
				.slider-text {
					translate: none;
					rotate: none;
					scale: none;
					opacity: 1;
					transform: translate(0, 0);
					visibility: visible;
					transition-delay: .9s;
				}
				.slider-btn-area {
					translate: none;
					rotate: none;
					scale: none;
					opacity: 1;
					transform: translate(0, 0);
					visibility: visible;
					transition-delay: 1s;
				}
			}
		}
	}
	.slider-content {
		position:  relative;
		background-color: transparent;
		padding: 0;
		border-radius: 0;
		@media(min-width: 768px) {
			max-width: 541px;
			z-index: 9;
			padding: 0;
			background: unset;
		}
	}
	.slider-title {
		position: relative;
	}
	.swiper-pagination-wrap {
		&:before {
			display: none;
		}
	}
	.swiper-pagination {
		position: absolute;
		margin-top: 0;
		justify-content: right;
		column-gap: 7px;
		bottom: 70px !important;
		right: 70px;
		left: auto !important;
		font-size: 18px;
		font-weight: 600;
		@media(min-width: 2400px ) {
			right: 0;
		}
		.swiper-pagination-bullet {
			height: 24px;
			width: 24px;
			border: 1px solid $white_color;
			border-radius: 100%;
			color: transparent;
			background: transparent !important;
			position: relative;
			&:before {
				content: "";
				height: 12px;
				width: 12px;
				background-color: $secondary_color;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				border-radius: 100%;
				opacity: 0;
				transition: opacity .5s ease;
			}
			&.swiper-pagination-bullet-active {
				width: 24px;
				color: transparent;
				&:after {
					display: none;
				}
				&:before {
					opacity: 1;
				}
			}
			&:last-child {
				&.swiper-pagination-bullet-active {
					text-align: right;
					&:after {
						display: none;
					}
					&:before {
						opacity: 1;
						content: "";
						height: 12px;
						width: 12px;
						background-color: $secondary_color;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateY(-50%) translateX(-50%);
						border-radius: 100%;
						transition: opacity .5s ease;
					}
				}
			}
		}
	}
}
.title-line {
	@media(max-width: 767px ) {
		display: none;
	}
	&:before {
		content: "";
		height: 8px;
		width: 170px;
		background: $secondary_color;
		position: absolute;
		top: 35px;
		right: 0;
	}
}







