// Info Box Style

.rt-info-box {
	.info-box {
		position: relative;
		background-size: cover;
		@include transition_default;
		z-index: 0;
		.info-icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 40px;
			@include transition_default();
			i, svg, img {
				display: flex;
				@include transition_default();
				color: $primary_color;
			}
		}
		&:hover {
			.info-icon {
				i, svg, img {
					transform: scale(1.1);
					color: $tertiary_color;
				}
			}
		}
	}
	.info-icon-holder {
		position: relative;
		margin-bottom: 24px;
		line-height: 0;
		a {
			display: inline-block;
		}
	}
	.content-holder {
		p {
			margin-bottom: 0;
			line-height: 1.75;
		}
	}
	.rt-info-image {
		position: relative;
		overflow: hidden;
		margin-top: 24px;
		line-height: 0;
	}
	.rt-button {
		margin-top: 24px;
	}
	.info-title {
		font-size: 22px;
		line-height: 1.2;
		a {
			color: $title_color;
			&:hover {
				color: $primary_color;
			}
		}
		@media(max-width: 767px) {
			br {
				display: none;
			}
		}
	}
	.feature-list {
		@include list_default;
		margin-top: 18px;
		li {
			font-size: 17px;
			font-weight: 600;
			margin-bottom: 10px;
			color: $title_color;
			.icon {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-size: 10px;
				width: 24px;
				height: 24px;
				margin-right: 9px;
				border-radius: 100%;
				color: $white_color;
				background-color: $primary_color;
			}
		}
	}
	.button-hover-visibility {
		.btn {
			position: relative;
			color: $white_color;
			padding: 13px 24px;
			.btn-text {
				visibility: hidden;
				opacity: 0;
				font-size: 0;
				@include transition_default;
			}
			i, svg {
				visibility: visible;
				opacity: 1;
				position: absolute;
				transition: 0.5s;
				margin-left: 0;
				left: 50%;
				top: 50%;
				transform: translateY(-50%) translateX(-50%);
			}
			&:hover {
				padding-right: 50px;
				.btn-text {
					visibility: visible;
					opacity: 1;
					font-size: initial;
				}
				i, svg {
					left: calc(100% - 30px);
				}
			}

		}
	}
}
// style 1
.rt-info-layout-1 {
	.info-box {
		border: 1px solid $border_color;
		background-color: $body_bg_color;
		border-radius: 20px;
		padding: 35px 45px;
		overflow: hidden;
	}
	.info-icon-holder {
		display: flex;
		align-items: center;
		column-gap: 15px;
		margin-bottom: 18px;
	}
	.info-title {
		margin-bottom: 0;
	}
	.rt-shape {
		position: absolute;
		right: 0;
		bottom: 0;
		display: block;
		line-height: 0;
		z-index: -1;
		svg {
			color: $border_color;
			@include transition_default();
		}
	}
}
// style 2
.rt-info-layout-2 {
	.info-box {
		border: 1px solid $border_color;
		background-color: $body_bg_color;
		border-radius: 20px;
		padding: 48px;
		display: flex;
		column-gap: 24px;
		.info-icon {
			position: relative;
			z-index: 0;
			background-color: $gray20;
			border-radius: 100%;
			width: 80px;
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		@media(max-width: 480px) {
			display: block;
		}
	}
}
// style 3
.rt-info-layout-3 {
	.info-box {
		background-color: $gray20;
		border-radius: 20px;
		padding: 50px;
		text-align: center;
		.info-icon {
			position: relative;
			z-index: 0;
			background-color: $body_bg_color;
			border-radius: 12px;
			width: 80px;
			height: 80px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
}

// style 4
.rt-info-layout-4 {
	overflow: hidden;
	position: relative;
	.info-box {
		.info-content-holder {
			position: relative;
			bottom: 0;
			transition: all 0.5s;
			z-index: 1;
		}
	}
	.rt-button {
		position: absolute;
		bottom: -50px;
		left: 0;
		right: 0;
		transition: all .5s;
		margin-top: 0;
	}
	&:hover {
		.info-box {
			.info-content-holder {
				bottom: 20px;
			}
		}
		.rt-button {
			bottom: 30px;
		}
	}
}

// style 5
.rt-info-layout-5 {
	.info-box {
		display: flex;
		gap: 40px;
		@media(max-width: 1024px) {
			display: block;
		}
		&:hover {
			.rt-service-image-5 {
				img {
					transform: scale(1.1);
				}
			}
		}
		.rt-service-image-5 {
			overflow: hidden;
			border-radius: 10px;
			position: relative;
			img {
				transition: all .5s;
				transform-origin: bottom left;
				width: 100%;
			}
		}
		.info-content-holder {
			flex: 1;
			@media(max-width: 1024px) {
				margin-bottom: 30px;
			}
		}
	}
}

