/* Start Progressbar style */
.rt-progress-bar {
	.title-bar {
		.title {
			font-size: 20px;
			margin-bottom: 0;
		}
	}
	.skill-bar {
		position: relative;
		background-color: #EBE8D9;
		border: 1px solid #fff;
		border-radius: 30px;
		height: 21px;
		padding: 3px;
		.skill-per {
			height: 13px;
			width: 0;
			border-radius: 30px;
			background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
			background-size: 1rem 1rem;
			background-color: $primary_color;
			transition: 2s linear;
			position: relative;
		}
	}
	.is-percentage {
		.skill-per {
			&:before {
				content: attr(data-per);
				position: absolute;
				font-size: 20px;
				font-weight: 600;
				text-transform: capitalize;
				color: $title_color;
				bottom: 20px;
				right: 0;
				font-family: $heading_font;
			}
		}
	}
}
