// Testimonial slider
.rt-testimonial-slider {
	height: 100%;
	.quote {
		position: absolute;
		right: 12px;
		top: -80px;
		font-size: 100px;
		color: #077F36;
		z-index: -1;
	}
	.testimonial-img {
		height: 100%;
		margin-bottom: 20px;
		@media(min-width: 1200px) {
			margin-bottom: 0;
		}
		img {
			display: block;
			border: 8px solid #FFFFFF;
			border-radius: 30px;
			height: 100%;
			object-fit: cover;
			//width: 100%;
			@media(min-width: 1200px) {
				width: 323px;
			}
		}
	}

	.slider-item {
		position: relative;
		z-index: 0;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.item-rating {
			display: inline-flex;
			align-items: center;
			gap: 4px;
			font-size: 22px;
			margin-bottom: 12px;
			color: $secondary_color;
			.icon-rt-star {
				font-weight: 900;
			}
			.active {
				color: $secondary_color;
			}
			.deactive {
				color: $gray20;
			}
		}
		.rt-line {
			width: 179px;
			height: 3px;
			border-radius: 50px;
			background: #FFFFFF;
			position: relative;
			margin: 10px 0 30px;
			&:after {
				content: "";
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 10px 15px 10px;
				border-color: transparent transparent #fff transparent;
				transform: rotate(180deg);
				position: absolute;
				bottom: -15px;
				left: 24px;
			}
		}
		.rt-content {
			font-style: italic;
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 20px;
			p {
				margin-bottom: 0;
			}
		}
		.rt-title {
			color: $title_color;
			font-size: 30px;
			line-height: 1.4;
			font-weight: 600;
		}
		.rt-name {
			color: $primary_color;
			font-size: 24px;
			font-weight: 600;
			font-family: $heading_font;
		}
		.rt-subtitle {
			color: $title_color;
		}
	}
}


.rt-testimonial-layout-1 {
	position: relative;
	z-index: 0;
	.slider-item {

		@media(min-width: 1200px) {
			display: flex;
			align-items: center;
			column-gap: 55px;
		}
	}
	.testimonial-content {
		flex: 1;
	}
	.swiper-pagination {
		margin-top: 0;
		@media(min-width: 1200px) {
			left: auto !important;
			right: -25%;
			bottom: 20px !important;
		}
		.swiper-pagination-bullet {
			border: 1px solid $white_color;
		}
		.swiper-pagination-bullet-active {
			border: 1px solid $secondary_color;
			box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
		}
	}
}
.rt-testimonial-layout-2 {
	.slider-item {
		.rt-content {
			font-style: normal;
			font-size: 18px;
		}
		.rt-title {
			font-size: 18px;
			margin-bottom: 0;
		}
		.rt-subtitle {
			font-size: 14px;
			color: $body-color;
		}
	}
	.item-author-info {
		display: inline-flex;
		align-items: center;
		column-gap: 10px;
	}
	.testimonial-img {
		margin-bottom: 0;
		img {
			height: 60px;
			width: 60px;
		}
	}
	.swiper-navigation {
		@media(min-width: 768px) {
			position: absolute;
			top: -55px;
			right: 124px;
		}
		.swiper-button-prev {
			left: calc(50% + 12px);
			right: auto;
		}
		.swiper-button-next {
			right: auto;
			left: calc(50% + 24px + 50px);
		}
	}
	.hover-visibility:hover .swiper-navigation .swiper-button-prev {
		left: calc(50% + 12px);
	}
	@media(max-width: 991px) {
		.testimonial-content {
			padding-top: 36px;
		}
	}
}


.rt-testimonial-layout-3 {
	.slider-item {
		border: 1px solid $border_color;
		padding: 40px;
		border-radius: 15px;
		.rt-content {
			font-style: normal;
			font-size: 18px;
		}
		.rt-title {
			font-size: 18px;
			margin-bottom: 0;
		}
		.rt-subtitle {
			font-size: 14px;
			color: $body-color;
		}
	}
	.item-author-info {
		display: inline-flex;
		align-items: center;
		column-gap: 10px;
	}
	.testimonial-img {
		margin-bottom: 0;
		img {
			height: 60px;
			width: 60px;
		}
	}
	.quote {
		position: unset;
		font-size: 30px;
		color: #f1f1f1;
	}
}

