/* Topbar Navigation
***************************/
.gardenar-topbar {
	font-size: 14px;
	border-bottom: 1px solid rgba($black_color, 0.1);
	background-color: $black_color;
	color: $white_color;
	min-height: 50px;
	display: flex;
	align-items: center;
	@media(max-width: 991px) {
		display: none;
	}

	@media(max-width: 650px) {
		.topbar-right {
			padding: 5px 0;
		}
	}
	.topbar-row {
		justify-content: space-between;
		@media(max-width: 991px) {
			justify-content: center;
		}
	}

	.topbar-left {
		span {
			position: relative;
			display: flex;
			align-items: center;
			column-gap: 8px;
			margin-right: 15px;
			&:not(:last-child):after {
				content: "/";
				margin-left: 15px;
				color: #B1C387;
			}
		}
		svg {
			fill: $meta_light;
			width: 15px;
			height: 15px;
		}
		a {
			color: $white_color;
			&:hover {
				color: $secondary_color;
			}
		}
		@media(max-width: 767px) {
			justify-content: center;
		}
	}

	.topbar-right {
		a {
			color: $white_color;
			&:hover {
				color: $secondary_color;
			}
		}
		span {
			position: relative;
			display: flex;
			align-items: center;
			column-gap: 8px;
			margin-right: 15px;
			&:not(:last-child):after {
				content: "/";
				margin-left: 15px;
				color: #B1C387;
			}
		}
	}

	.social-icon {
		display: inline-flex;
		align-items: center;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			color: inherit;
			&:hover svg {
				fill: $secondary_color;
			}
		}

		[class*=rticon] svg {
			width: 15px;
			height: 15px;
			fill: $white_color;
		}
	}
}

.has-trheader .site-header .gardenar-topbar * {
	color: $meta_light;
}
