// Product page

.woocommerce {
	div.product {
		div.images {
			margin-bottom: 50px;
			.woocommerce-product-gallery__wrapper {
				> div {
					overflow: hidden;
					border-radius: 12px;
				}
			}
			.flex-control-thumbs {
				display: flex;
				gap: 5px;
				margin-top: 5px;
				li {
					overflow: hidden;
					border-radius: 6px;
				}
			}
		}

		div.summary {
			margin-bottom: 50px;
			.product_title {
				font-size: 32px;
				margin-bottom: 10px;
				line-height: 1.2;
			}
			.woocommerce-product-rating {
				margin-bottom: 10px;
			}
			.price {
				color: $primary_color;
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 15px;
				line-height: 1.4;
			}
		}
		form.cart {
			.variations {
				th, td {
					text-align: left;
				}
				label {
					color: $title_color;
				}
			}
			.woocommerce-variation-price {
				margin-bottom: 20px;
			}
		}
	}
	.quantity {
		.qty {
			height: 48px;
			border-radius: 8px;
		}
		input.input-text:focus {
			outline: none;
			box-shadow: unset;
		}
	}
	.product_meta {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		> span {
			color: $title_color;
			font-weight: 700;
			span, a {
				color: $body_color;
				font-weight: 400;
			}
		}
	}
	.post-share-btn {
		margin-top: 20px;
		.item-social {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 8px;
			row-gap: 5px;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				color: $body_color;
				font-size: 14px;
				padding: 0;

				&:hover {
					color: $title_color;
				}
			}
		}
	}
	.woocommerce-product-details__short-description {
		ul li {
			padding-left: 15px;
			position: relative;
			text-transform: capitalize;
			color: $title_color;
			font-weight: 500;
			&:before {
				content: "•";
				color: $title_color;
				position: absolute;
				left: 0;
			}
		}
	}
	.rtsb-social-share-container {
		.share-wrapper {
			.rtsb-social-share {
				.rtsb-share-item {
					.rtsb-share-btn {
						&:hover {
							box-shadow: none;
						}
					}
				}
			}
		}
	}
}

// Product tabs

.woocommerce {
	div.product {
		.woocommerce-tabs {
			border: 1px solid #dbdbdb;
			margin-top: 30px;
			padding: 40px !important;
			border-radius: 20px;
			.panel {
				margin: 0;
				h2 {
					display: none;
				}
			}
			ul.tabs {
				display: inline-flex;
				flex-wrap: wrap;
				gap: 20px;
				width: 100%;
				margin-bottom: 25px;
				padding: 0 !important;
				&:before {
					border-bottom: 1px solid $border_color;
				}
				li {
					position: relative;
					border: none;
					border-radius: 0;
					background-color: transparent;
					margin: 0;
					padding: 0;
					&:before, &:after {
						display: none;
					}
					&.active {
						color: $primary_color;
						background-color: transparent;
						border-bottom: 2px solid $secondary_color;
					}
					a {
						position: relative;
						display: block;
						font-size: 20px;
						font-weight: 600;
						padding: 0 0 15px;
						color: $title_color;
					}
				}
			}
			.woocommerce-Tabs-panel--description {
				p {
					text-transform: capitalize;
				}
				h4 {
					margin-bottom: 15px;
				}
				ul li {
					padding-left: 15px;
					position: relative;
					text-transform: capitalize;
					&:before {
						content: "•";
						color: $body-color;
						position: absolute;
						left: 0;
					}
				}
			}
		}
	}

	#reviews #comments {
		ol.commentlist {
			padding: 0;
			li {
				.comment_container {
					background-color: $white_color;
					border-radius: 6px;
					margin-top: 8px;
					padding: 20px 25px;
				}
				img.avatar {
					width: 60px;
					border: none;
					margin-right: 25px;
					border-radius: 50%;
					padding: 0;
					position: inherit;
				}
				.comment-text {
					border-radius: 0;
					margin: 0;
					padding: 0;
					border: none;
					p.meta {
						margin-bottom: 0;
					}
					.woocommerce-review__author {
						color: $title_color;
					}
				}
			}
		}
	}
	.comment-respond {
		.comment-reply-title {
			color: $title_color;
			font-size: 30px;
			font-weight: 700;
			text-transform: capitalize;
		}
	}
	.rtsb-actions-button {
		.button-item {
			.tipsy {
				.icon {
					transition: all .3s ease-in-out;
				}
				&:hover {
					.icon {
						background-color: $secondary_color;
						color: $white_color;
					}
				}
			}
		}
	}
}

.rtwpvg-images.rtwpvg-has-product-thumbnail .rtwpvg-wrapper .rtwpvg-thumbnail-wrapper .rtwpvg-thumbnail-slider .rtwpvg-thumbnail-image {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	overflow: hidden;
	border: 1px solid #F8F8F8;
	opacity: 1;
}
.rtwpvg-images.rtwpvg-has-product-thumbnail .rtwpvg-grid-layout .rtwpvg-thumbnail-wrapper
.rtwpvg-thumbnail-slider .rtwpvg-thumbnail-image.swiper-slide-thumb-active, .rtwpvg-images.rtwpvg-has-product-thumbnail
.rtwpvg-grid-layout .rtwpvg-thumbnail-wrapper .rtwpvg-thumbnail-slider .rtwpvg-thumbnail-image:hover, .rtwpvg-images.rtwpvg-has-product-thumbnail
.rtwpvg-wrapper .rtwpvg-thumbnail-wrapper .rtwpvg-thumbnail-slider .rtwpvg-thumbnail-image.swiper-slide-thumb-active,
.rtwpvg-images.rtwpvg-has-product-thumbnail .rtwpvg-wrapper .rtwpvg-thumbnail-wrapper .rtwpvg-thumbnail-slider .rtwpvg-thumbnail-image:hover {
	border-color: $primary_color;
}

// Related product

.related.products {
	margin-top: 50px;
	h2 {
		font-size: 30px;
		margin-bottom: 26px;
	}
}
