.single-post-pagination {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	align-items: flex-start;
	border-bottom: 1px solid $border_color;
	margin-bottom: 50px;
	margin-top: 50px;
	padding-bottom: 50px;

	p {
		margin: 0;
	}

	.post-navigation {
		display: flex;
		flex-wrap: wrap;
		flex: 1 0 50%;

		&.next {
			justify-content: flex-end;
		}

		@media (max-width: 767px) {
			flex: 0 0 100%;
			&:not(:last-child) {
				margin-bottom: 15px;
				padding-bottom: 15px;
			}

		}
	}

	.link {
		display: flex;
		flex: 0 0 calc(100% - 50px);
		gap: 15px;
		font-size: 16px;
		line-height: 30px;
		color: $title_color;
		font-weight: 500;
		flex-direction: column;
		padding-left: 22px;

		&:hover {
			@extend .primaryColor;
		}
		span {
			color: $primary_color;
			font-size: 15px;
			font-weight: 500;
			i {
				margin-right: 8px;
			}
		}
	}

	.nav-title {
		display: flex;
		align-items: center;
		gap: 10px;
		flex: 0 0 100%;
		font-weight: 600;
		font-size: 22px;
		margin-bottom: 15px;
		color: $title_color;
		font-family: $heading_font;

		&:hover {
			@extend .primaryColor;
			svg {
				fill: $primary_color;
			}
		}

		svg {
			width: 20px;
			height: 16px;
			fill: #5A7A78;
		}
	}
	.pg-next {
		padding-right: 22px;
	}

	.next .nav-title,
	.next .link {
		justify-content: flex-end;
		padding-left: 0;

	}
}
